
@font-face{
    font-family: backtoblack;
    src: url("../fonts/BackToBlack.ttf");
}

  /*--------------------- */
  /**** PAGE SETUP *******/
 /*-------------------- */
*{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    box-sizing: border-box;
}


   /*---------------- */
  /**** HEADER *******/
 /*---------------- */

header {
    border: solid black 1px;
    padding: 0.5%;

}
#search-i {
    padding-top: 7px;
}
.search_toolbar{
    position: absolute;
    right: 0;
    top:0;
    z-index:50; 
    margin-top: 10px;
    font-size: 39px;
    padding-right: 8px;

}
.nav{
    margin-top:2%;
}

.left-nav,.right-nav{
    border: solid black 1px;
    height:100%;
    padding-top:2%;
}

.center-nav{
    border: solid black 1px;
    font-size:1.1em;
    color:white;
    padding-top:2%;
}
  /*----------------- */
  /**** SIDE MENU ****/
 /*---------------- */

 .menubar {
    display: block;
    height: 75px;    
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    display: flex;
    align-items: center;

  }
  .menu{
      background-color:#16c5a6;
  } 
  .menubar{
     font-size: 1rem;
  }
  .barsSvg-left{
    position: relative;
    opacity: 0.7;
    left:-1%;
  }

  .barsSvg-right{
    position: relative;
    left: -2%;
    opacity: 0.7;
    z-index: 0; 
  }
  /* .menubar */
    span { 
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 300;
    font-size: 2em;
    line-height: 70px;
  }
  
  #hambmenu {
    position: relative;
    width: 40px;
    height: 45px;
    float: left;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: #fff;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;
  }

  .title span {
    display:flex;
  }

  
  .hambclicker {
    position: absolute;
    padding: 8px 10px;
    cursor: pointer;
    top: -2px;
    z-index: 1;
    
  }
  
  #hambmenu span:nth-child(1) {
    top: 0px;
  }
  
  #hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
  }
  
  #hambmenu span:nth-child(4) {
    top: 20px;
  }
  
  #hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  
  #hambmenu.isopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #hambmenu.isopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  #hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  
  #menu {
    position: absolute;
    top: 60px;    
    height: calc(80vh - 60px);
    width: 210px;
    background-color:white;
    z-index: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
  }
  #menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    padding: 30px 0 20px 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }
  #menu li:last-child {
    border-bottom: none;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  #menu.isopen {
    -webkit-transform: none;
            transform: none;
  }

  .fa{
      margin-top: 10px;
      font-size: 39px;
        /* color: black; */
      padding-right: 8px;
      /* position: relative;; 
      right: 10px;
      top: 5px; */
  }

  /*------------------- */
  /**** CAROUSEL *******/
 /*------------------ */

#carousel{
    margin-bottom: 25px;
}
 .event-display-text, .concerts-text{
    text-align: center;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom:2%; 
    color:rgb(23, 160, 30);
    font-size: 1em; 
}
.top-display-text{
    padding: 3%;
    font-size:1.5em;
}
.label{
    color:black !important;
    font-size: 1em;
}
.carousel-container{
    width:100%;
    height:26em;
    margin-top:1%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    background-size:100%;
}

img{
    width:100%;   
}

.carousel-info{
    margin-top:1%;
    opacity:0.8;
    background-color:#4c5193;
}

.carousel-date-info{
    height:35%;
    border: solid black 1px;
    margin-top:1%;
    position:relative;
}

.carousel-caption{
    display: flex;
}

.caption-left{
    text-align: left;
    width: 52%;
    padding-left:3%;
    text-shadow: 2px 2px black;
}

.caption-right{
    width: 45%;
    font-weight: 900;
    text-shadow: 2px 2px black;

}

.caption-left > p, .caption-right > p {
    margin: 0;
}

.carousel-month, 
.carousel-date,
.carousel-day
{
    color: floralwhite;
    font-size:1.3em;
}


.artist-title,
.time,
.venue
{
    font-size:1.5em;
    color:white;
    font-weight:bold;
}

/* Bootstrap Overrides */

.carousel-caption {
    right: 0% !important;
    left: 0% !important;
    bottom: 0 !important;
}

.carousel slide{
    right: 0% !important;
    left: 0% !important;
    bottom: 2% !important;
}

.modal {
    overflow: auto !important;
}

.img-con {
    padding: 0 !important;
}

   /*---------------------- */
  /** EVENTS DISPLAY AREA **/
  /*--------------------- */

.event-container{
    border:solid black 1px;
    background-color:#f4f1f5;
    height:8em;
    margin-top:2%;
    display: flex;
    flex-direction: row;  
    width: 100%;
    
}

.event-artist-photo{
    height:100%;
    display: flex;
    margin-top: 1%;
    margin-bottom:1%;
    box-shadow:grey 5px 5px 8px;
}
.title{
    margin: 0;
    font-weight: 700;
    padding-bottom:10%;

}
.title-text{
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
}
.title-modal{
    text-align: center;
    text-decoration: underline;
    /* padding-bottom: 0px; */
}
.modal_date,
.modal_time,
.modal_address,
.modal_address-info {
    font-weight: 800;
    font-size: 2rem;

} 
.date-before,
.time-before,
.addres-before{
    color: lightslategray;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
.event-btn {
    width: 29%;
    border-radius: 19px;
    position: relative;
    opacity:0.8;
    font-weight: 900;
    border-width: 3px;
}

.event-btn:hover{
    border: 3px solid blue;
}

img{
    height: 100%;
}  
.img-con{
    padding-left: 0px;
}     

.event-info{
    height:100%;
}

.calendar-info{
    border:solid black 1px;
    background-color:white;
    opacity:0.9;
    box-shadow: grey 2px 3px 5px;
    height:80%;
    margin-top:2%;
    border-top: white solid 1 px;
}
.event-text{
    padding-top:9%;
} 
.list-unstyled {
    padding-left: 15px;
}

   /*------------------- */
  /** SHOW MORE BUTTON **/
  /*------------------- */

.show-more{
    border:solid black 1px;
    margin-top: 1%;
    background-color: yellow;
    height: 5em;
    font-weight: 900;

}
.show-more-button{
    position: relative;
    margin-top:2em;
    margin-bottom:2em;
    background-color:#fe7b47; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:helvetica;
    color:white;
    font-style: bold;
    box-shadow:grey 5px 5px;
 }

 /*------------------- */
  /** SUGGESTED EVENTS **/
  /*------------------- */
.concert-suggestions-container{
    width:100%;
    height:10em;
    border: solid black 1px;
    margin-top:1%;
    background-size:100%;
    background-repeat: no-repeat;
}

 .suggested-event-name{
     height:100%;
     width:70%;
     border:solid black 1px;
     background-color:pe;
     opacity:0.7;
 }


.suggested-event-cal{
    margin:0;
    padding:0;
    position:relative;
    bottom: 2em;
    left: -0.3em;
    background-color:white;
    border: solid grey 1px;
    text-align: start;
    flex-direction:row;
    height:3em;
    border-radius:10%;
    text-align: center;
    font-size:0.7em;
}

.suggested-event-cal p{
font-size:0.8em;
line-height: 1;
padding-top: 0.4em;
}
  /*-------------------- */
  /*** HARD CODED DOTS ***/
  /*------------------- */

.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

    /*---------------*/
    /**** FOOTER ****/
    /*-------------*/
   
.icon .fa-cloud, .fa-heart, .fa-car, .fa-file, .fa-bars, .fa-search{
    color: white;
    size:2em;
}

.list-unstyled {
    display: block;
    
}

.google-map-container{
    margin-top:3%;
    background-color:grey;
    border: 1px solid black;
    width:100%;
    height:20em;
    z-index: 20;
    position: relative;
}

.youtube{
    margin-top:3%;
    background-color:pink;
    border: 1px solid black;
    width:100%;
    height:20em;
}
.embed-responsive-16by9{
    padding-bottom: 58.25%;
}

/* suggested events carousel */

.event-slider-container{
    border: 1px solid black;
    background: purple;
    width:100%;
    height:5em;
}
@media screen and (max-width: 580px) {
    .modal_date,
    .modal_time,   
    .modal_address,
    .modal_address-info{
        font-size: 1.2rem
    }
  }
@media screen and (max-width: 320px) {
    #hambmenu span {
        width: 80%;
    }
    .lds-equalizer{
        width: 74%;
    }
    .logo{
        width: 25%;
    }
    #search-i{
        font-size: 6vh;
    }
    .event-btn{
        width: 33%;
    }
    li a{
       padding-left: 9vh; 
    }
    .modal_date,
    .modal_time,
    .modal_address, 
    .modal_address-info {
            font-size: 1rem;
     }
  }

 
  /* inner-info container for second page*/

  .inner-info-container{
      font-size: 0.9em;
      position: absolute;
  }
  

  .search_toolbar_popdown{
    position: absolute;
    width: 100%;
    border: black 2px solid;
    height: 3em;
    font-size: 1px;
    box-shadow:#e0d8d8 5px 5px 5px;
    top: 75px;
    z-index: 1;
    padding:2%;
  }


  /* modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.modal-content {
    /* height: 79vh; */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 5px 15px 5px 0.5 grey;
    width: 90%; /* Could be more or less, depending on screen size */
}

.close-button {
    display: block;
    margin: 33px auto;
    color:white;
    font-size: 28px;
    font-weight: bold;
    right: 40%;
    bottom:10px;
    margin-top:2em;
    background-color:#fe7b47; 
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font:helvetica;
    font-style: bold;
    box-shadow:grey 5px 5px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.event-description{
    font-size: 2rem;
}

.mapThing{
    background-image:url('../images/note.png');
    z-index: 1;
    background-size:cover;
    animation: bounce 0.5s infinite alternate;
    background-size:20px;
    background-repeat:repeat;
  
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
 
/*LOGO */

.logo-box{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
  .logo{
    width: 80px;
    height: 52px;
    position: relative;
    z-index: 1;
  
  }


  /* event item calendar*/

  .dayRender{
      font-size:1.5em;
  }

 .venue, .time{
    padding-top:1%;
    padding-right:2%;
 }