

*{

  /*--------------------- */
  /**** PAGE SETUP *******/
 /*-------------------- */

    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    box-sizing: border-box
}

   /*---------------- */
  /**** HEADER *******/
 /*---------------- */
header {
    border: solid black 1px;
    /* width:100vw; */
    /* height:8vh; */
    padding: 0.5%;
    background: linear-gradient(to bottom right,lightcyan,plum,pink);
}
.search_toolbar{
    position: absolute;
    right: 0;
}
.nav{
    margin-top:2%;
}
.event-container{
    width:100%;
    height:100%;
    background-color:lightcyan;
}

.left-nav,.right-nav{
    border: solid black 1px;
    height:100%;
    padding-top:2%;
}

.center-nav{
    border: solid black 1px;
    font-size:1.1em;
    color:white;
    padding-top:2%;
}
  /*----------------- */
  /**** SIDE MENU ****/
 /*---------------- */

 .menubar {
    display: block;
    height: 60px;
    background-color: #03A9F4;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
  }
  
  .menubar span {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 300;
    font-size: 2em;
    line-height: 60px;
  }
  
  #hambmenu {
    position: relative;
    width: 40px;
    height: 45px;
    float: left;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;
  }
  
  .hambclicker {
    content: "";
    height: 48px;
    width: 55px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 9;
  }
  
  #hambmenu span:nth-child(1) {
    top: 0px;
  }
  
  #hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
  }
  
  #hambmenu span:nth-child(4) {
    top: 20px;
  }
  
  #hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  
  #hambmenu.isopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #hambmenu.isopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  #hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  
  #menu {
    position: absolute;
    top: 60px;    
    height: calc(100vh - 60px);
    width: 210px;
    background-color: white;
    z-index: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
  }
  #menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  }
  #menu li {
    padding: 30px 0 20px 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }
  #menu li:last-child {
    border-bottom: none;
  }
  
  .fa {
    color: black;
    padding-right: 8px;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  #menu.isopen {
    -webkit-transform: none;
            transform: none;
  }

  .fa{
      margin-top: 10px;
      font-size: 39px;
  }

  /*------------------- */
  /**** CAROUSEL *******/
 /*------------------ */


/* DISPLAY FOR CAROUSEL */
.top-display-text, .event-display-text, .concerts-text, .genre-label {
    border:solid black 1px;
    text-align: center;
    margin-top: 1%;
    background-color: yellow;
    padding-top:1%;
}

.carousel-container{
    width:100%;
    height:26em;
    border: solid black 1px;
    margin-top:1%;
    background-color:lightgreen;
    background-repeat: no-repeat;
    background-size:100%;
}

img{
    width:100%;   
}

.carousel-info{
    height:min-content;
    border: solid black 1px;
    margin-top:1%;
    position:relative;
    /* bottom:-18.5em; */
    background-color:lightgrey;
    text-overflow:hidden;
    opacity:0.7;
}

.carousel-date-info{
    height:35%;
    border: solid black 1px;
    margin-top:1%;
    background-color: lightgrey;
    text-overflow:hidden;
    opacity:0.7;
    position:relative;
    /* bottom:-18.5em; */
}

.carousel-day{
    font-size:0.8em;
}

.carousel-month, .carousel-date{
    display:inline-block;
}

.carousel-date{
    font-size:1em;
}

.carousel-month{
    font-size:1em;
}


   /*---------------------- */
  /** EVENTS DISPLAY AREA **/
  /*--------------------- */

.event-container{
    border:solid black 1px;
    background-color:#f4f1f5;
    height:8em;
    margin-top:2%;
    width: 100%;
    
}

.event-artist-photo{
    border: solid black 1px;
    height:100%;
    display: flex;
}
.title{
    margin: 0;
}
.event-btn {
    width: 22%;
    height: 89%;
    border-radius: 19px;
}
img{
    height: 100%;
    /* padding-left: 0px; */
    /* max-width:100%;
    max-height:100%; */
}  
.img-con{
    padding-left: 0px;
}     

.event-info{
    border:solid black 1px;
    height:100%;
}

.calendar-info{
    border:solid black 1px;
    background-color:white;
    border-radius:10%;
    opacity:0.9;
    box-shadow: grey 2px 3px 5px;
    height:80%;
    margin-top:2%;
}

.event-text{
    padding-top:9%;
} 
.list-unstyled {
    padding-left: 15px;
}

   /*------------------- */
  /** SHOW MORE BUTTON **/
  /*------------------- */

.show-more{
    border:solid black 1px;
    margin-top: 1%;
    background-color: yellow;
    height: 5em;
}
.show-more-button{
    position: relative;
    margin-top:2em;
    margin-bottom:2em;
    background-color: rgb(243, 62, 198); 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:helvetica;
    color:white;
    font-style: bold;
    box-shadow:grey 5px 5px;
 }

 /*------------------- */
  /** SUGGESTED EVENTS **/
  /*------------------- */
.concert-suggestions-container{
    width:100%;
    height:10em;
    border: solid black 1px;
    margin-top:1%;
    background-size:100%;
    background-repeat: no-repeat;
}

 .suggested-event-name{
     height:100%;
     width:70%;
     border:solid black 1px;
     background-color:pe;
     opacity:0.7;
 }


.suggested-event-cal{
    margin:0;
    padding:0;
    position:relative;
    bottom: 2em;
    left: -0.3em;
    background-color:white;
    border: solid grey 1px;
    text-align: start;
    flex-direction:row;
    height:3em;
    border-radius:10%;
    text-align: center;
    font-size:0.7em;
}

.suggested-event-cal p{
font-size:1em;
line-height: 1;
padding-top: 0.4em;
}


  /*-------------------- */
  /*** HARD CODED DOTS ***/
  /*------------------- */

.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

    /*---------------*/
    /**** FOOTER ****/
    /*-------------*/

footer{
    /* width:100%; */
    height:9em;
    border: solid black 1px;
    margin-top:1%;
    /* display:flex; */
    background: linear-gradient(to bottom right,lightcyan,plum,pink);
}

/* .social-media-icons{
    /* display:inline-block; */

.icon .fa-cloud, .fa-heart, .fa-car, .fa-file, .fa-bars, .fa-search{
    color: white;
    size:2em;
}

.list-unstyled {
    display: inline-flex;
}

.google-map-container{
    margin-top:3%;
    background-color:grey;
    border: 1px solid black;
    width:100%;
    height:20em;
}

.youtube-container{
    margin-top:3%;
    background-color:pink;
    border: 1px solid black;
    width:100%;
    height:20em;
}

/* suggested events carousel */

.event-slider-container{
    border: 1px solid black;
    background: purple;
    width:100%;
    height:10%;
}



@media screen and (max-width: 420px) {
    .menubar span {
      font-size: 1.2em;
    }
  }
  
